<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit New Product</title>
</head>
<body>
	<div align="center">
		<h2>Edit Product details</h2>
		<br />

		<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">
			<table>
				<tr>
					<td>Product id:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}"></td>
				</tr>
				<tr>
					<td>Brand:</td>
					<td><input type="text" th:field="*{brand}"></td>
				</tr>
								<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}"></td>
				</tr>
				<tr>
					<td>Image Url:</td>
					<td><input type="text" th:field="*{imageUrl}"></td>
				</tr>
					<tr>
					
					<td colspan=2 ><button type="submit">save</button></td>
				</tr>
			</table>


		</form>
	</div>

</body>
</html>